<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<!-- Declare channels -->
			<channels>
				<channel ref="tcp" port="4000"/>
			</channels>
			<service>
				<wellknown type="RemoteObjects.CRemote, RemoteObjects" objectUri="CRemote.rem" mode="SingleCall" />
			</service>
		</application>
	</system.runtime.remoting>
</configuration>