<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NBA_OneGameScore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NBA_OneGameScore.Properties.Settings>
            <setting name="MinutesPerQuarter" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AvgLineTraceCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PaceAvgLineTraceCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SecondsPerSlice" serializeAs="String">
                <value>12</value>
            </setting>
        </NBA_OneGameScore.Properties.Settings>
    </applicationSettings>
</configuration>